@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.sai {
    display: flex;
    width: 100%;
}
#sidebar {
    width: 250px;
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background:#631bbb;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 0px;
    background: #631bbb;
}
#sidebar ul.components {
    padding: 0px 0;
    border-bottom: 1px solid #631bbb;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #631bbb;
    background: #fff;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #631bbb;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background:#631bbb;
}
#content {
    width: calc(100% - 250px);
    padding-left:1px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
.nav-link{color:white!important}
.nav-link:hover{color:red!important;
}
.container-fluid-custom{
background-color:#631bbb;
}
 .masthead {
  height:100vh;
  min-height: 500px;
  background-color: transparent;
}
#in:hover{
      box-shadow: 0px 0px 10px 10px rgba(201, 197, 197, 0.301);
    }
    #a:hover{
        transform: scale(1.2);
      
      }
 .edulist li,.complist li{
     margin:4%;
 }
 .edulist li a,.complist li a{
    text-decoration: none;
    
}
.edulist li a:hover,.complist li a:hover{
    color:rgb(255, 0, 128);
    
}
.ql{
    color:rgb(255, 0, 128);
} 
#uf{
    color:white;
}
#uf:hover{
    color:rgb(10, 238, 97);
}
.bo{
    border-bottom:2px solid white;
}